<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Health Fair Screener{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    {% block headextra %}
    {% endblock %}
</head>
<body>
<div>
  {% block topnav %}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
  {% endblock %}
  <div class="container-fluid main">
  {% block content %}
  {%  endblock  %}
  </div>
  {% block footer %}
  {% endblock %}
<script src="{% static 'js/script.js' %}"></script>
{% block bottomscript %}
{% endblock %}
</body>
</html>
