<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="zip_code">Zip Code</label>
      <input type="text" name="zip_code" class="form-control" id="zip_code" required
      {% if screen %}{% if 'zip_code' in screen.params %}
      value="{{screen.params.zip_code}}"
      {% endif %}{% endif %}>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender" name="gender">
        <option></option>
        {% for gender in gender_options %}
        <option value="{{gender.value}}"
        {% if screen %}
        {% if 'gender' in screen.params %}
        {% if screen.params.gender == gender.value %}
        selected
        {% endif %}{% endif %}{% endif %}>{{gender.display}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="insurance_uid">Insurance</label>
  <select class="form-control" id="insurance_uid" name="insurance_uid">
    <option></option>
    {% for insurance in insurance_options %}
    <option value="{{insurance.value}}"
    {% if screen %}
    {% if 'insurance_uid' in screen.params %}
    {% if screen.params.insurance_uid == insurance.value %}
    selected
    {% endif %}{% endif %}{% endif %}>{{insurance.display}}</option>
    {% endfor %}
  </select>
</div>
<div class="form-group">
  <label for="specialty_uid">Specialty</label>
  <select class="form-control" id="specialty_uid" name="specialty_uid">
    <option></option>
    {% for specialty in specialty_options %}
    <option value="{{specialty.value}}"
      {% if screen %}
      {% if 'specialty_uid' in screen.params %}
      {% if screen.params.specialty_uid == specialty.value %}
      selected
      {% endif %}{% endif %}{% endif %}>{{specialty.display}}</option>
    {% endfor %}
  </select>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="text" name="phone" class="form-control" id="phone" aria-describedby="phoneHelp"
        {% if screen %}{% if screen.phone %}
        value="{{screen.phone}}"
        {% endif %}{% endif %}>
      <small id="phoneHelp" class="form-text text-muted">If you want to receive these results as a text message.</small>
    </div>
  </div>
  <!-- <div class="col-md-6">
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp"
        {% if screen %}{% if screen.email %}
        value="{{screen.email}}"
        {% endif %}{% endif %}>
      <small id="emailHelp" class="form-text text-muted">If you want to receive these results over email.</small>
    </div>
  </div> -->
</div>
