{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-md-5">
    <h1>Health Fair Screener</h1>
  </div>
  <div class="col-md-5 button-row">
    {% if screen.phone %}
    <a class="btn btn-default" href="{% url 'send_text' screen.slug %}" role="button">
      Send Text
    </a>
    {% endif %}
    {% if screen.email %}
    <a class="btn btn-default" href="#" role="button">
      Send Email
    </a>
    {% endif %}
  </div>
</div>
<hr>  
<div class="row">
  <div id="copy-clipboard" class="col-md-3">
    <span id="urlVal">http://{{request.get_host}}/{{screen.slug}}</span>
    <button type="button" class="btn btn-default pull-right" aria-label="Copy to Clipboard"
      onclick="copyClipboard()">
      <span class="glyphicon glyphicon glyphicon-copy" aria-hidden="true"></span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <form name="screenForm" method="POST" action="{% url 'screen' screen.slug %}">
      {% csrf_token %}
      {% include 'form.html' %}
      <button type="submit" class="btn btn-primary btn-lg btn-block">Update Recommendations</button>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-10">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        {% for provider in providers %}
        <tr>
          <td><a href="{% url 'detail' provider.npi %}">{{provider.full_name}}</a></td>
          <td>{{provider.location}}</td>
          <td>{{provider.phone}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-10">
    {% if prev_skip or prev_skip == 0 %}
    <a class="btn btn-default pull-left" href="{% url 'screen' screen.slug %}?skip={{prev_skip}}" role="button">
      Previous
    </a>
    {% endif %}
    {% if next_skip %}
    <a class="btn btn-primary pull-right" href="{% url 'screen' screen.slug %}?skip={{next_skip}}" role="button">
      Next
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}
